@import url(_jarvis.css);
@import url(_reset.css);
@font-face {
    font-family: 'icones';
    src: url(.../fontes/icones.ttf);
}


.logotipo {

	font-family: var(--familia-titulo-destaque);
	color: var(--azul);
	font-size: var(--tamanho-titulo-destaque);
	font-weight: var(--peso-titulo-destaque);
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;
}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;

    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem; 
}

.menu-lateral {

    transition: .25s;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
}

.menu-lateral--ativo {

    left: 0;
    transition: .25s;
}

.cabecalho__menu i::before {

    content: "\e905";
    font-size: 24px;
}

.menu {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;
}