@import url(_jarvis2.css);
@import url(_reset2.css);

.cabecalho {
	font-family: var(--familia-titulo-destaque);
	text-align: center;
	background-color: white;
	padding-left: 20px;
	padding-top: 10px;
	
}

#logotipo {

	font-family: var(--familia-titulo-destaque);
	color: var(--preto);
	font-size: var(--tamanho-titulo-destaque);
	font-weight: var(--peso-titulo-destaque);
	text-align: center;
}

#logoJ {

	width: 250px;
	height: 200px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav {
	position: relative;
}

.item {
	display: inline;
	text-align: center;
	margin: 0 0 0 25px;
	color: var(--preto);
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.titulo {
    font-family: var(--tamanho-titulo-destaque);
    font-size: var(--tamanho-titulo);
    color: var(--preto);
}

p {
    font-size: var(--tamanho-corpo);
    color: var(--preto);
}
